{% extends 'layouts/base.html' %}

{% load static %}

{% block content%}

<div class="d-flex align-items-center gap-2 mb-3">
    <h1>New Question</h1>
</div>

<form class="d-flex flex-column gap-4 form-inline">
    <div class="d-flex gap-4">
        <h4>Title</h4>
        <div class="w-100">
            <input type="text" class="form-control w-100" placeholder="Input question" aria-label="Input question" aria-describedby="basic-addon2"/>
        </div>
            
    </div>

    <div class="d-flex gap-4">
        <h4>Text</h4>
        <div class="w-100">
            <textarea style="height: 300px;" type="text" class="form-control w-100" placeholder="Input text" aria-label="Input text" aria-describedby="basic-addon2"></textarea>
        </div>
            
    </div>

    <div class="d-flex gap-4">
        <h4>Tags</h4>
        <div class="w-100">
            <input type="text" class="form-control w-100" placeholder="Input tags" aria-label="Input tags" aria-describedby="basic-addon2"/>
        </div>
        
    </div>
    
    <button class="btn btn-outline-success" type="submit">Ask</button>

</form>

{% endblock %}
